body {
  background: url("../images/appBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* height: 100vh; */
}

/* Force fix to delete semantic ui bottom margin for menu */
.App__menu {
  margin-bottom: 0 !important;
}

.App__menu h2 {
  margin: 0 !important;
  padding-left: 10px;
}
