.GalleryPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.GalleryPage > div{
  border-radius: 8px;
  max-width: 90%;
  background: rgba(0,0,0,0.3);
  padding:30px;
} 
